<?xml version='1.0'?>
<launch>

  <!-- robot model, robot_state_pup -->
  <include file="$(find hcr_bringup)/launch/includes/description.launch.xml" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <!-- launch rplidar, move_base, hector_slam, acml -->
  <include file="$(find hcr_navigation)/launch/hcr_laser_nav_2.launch" />


  <!-- launch rviz -->
  <!-- <include file="$(find hcr_bringup)/launch/view_nav.launch"/> -->


</launch>
