<?xml version='1.0'?>
<launch>

  <!-- set arduion parameter -->
  <!--param name="ticks_meter" value="6210"/-->

  <!-- 50hz ~ 20ms -->
  <!--param name="~control_rate" value="100"/-->

  <!-- start ros_serial -->
  <node pkg="rosserial_python" type="serial_node.py" name="hcr_motor_controle" output="screen">
    <param name="ticks_meter" value="6210"/>
    <param name="~control_rate" value="100"/>
    <param name="port" value="/dev/ttyACM0"/>
  </node>


  <!-- start controller -->
  <include file="$(find hcr_controller)/launch/diff_drive_controller_core.launch" />



</launch> 
