<?xml version='1.0'?>
<launch>


  <!-- kinect -->
  <include file="$(find freenect_launch)/launch/freenect.launch">
    <arg name="depth_registration" value="true"/>
  </include>


  <node pkg="object_recognition_core" type="detection" name="hcr_vision" args="-c /ws_hcr/src/ork_tabletop/conf/detection.object.ros.ork" output="screen">
  </node>


</launch>
