<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Load controller setting to parameter server -->
  <rosparam file="$(find hcr_controller)/config/diff_drive_controller.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="hcr_diff_drive_controller" pkg="controller_manager" type="spawner" 
    respawn="false" output="screen" args="diff_drive_controller" />
</launch>
