<?xml version="1.0"?>
<launch>

  <arg name="laser_sensor" default="$(env HCR_LASER_SENSOR)"/>

  <!-- rplidar -->
  <!-- <include file="$(find hcr_bringup)/launch/laser.launch"/> -->


  <!-- map server -->
  <!-- <arg name="map_file" default="$(find hcr_navigation)/maps/lab_1.yaml"/> -->
  <arg name="map_file" default="$(find hcr_navigation)/maps/map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
  </node>

  <!-- amcl -->
  <include file="$(find hcr_navigation)/includes/$(arg laser_sensor)_amcl.launch.xml"/>

  <!-- hector_slam -->
  <include file="$(find hcr_navigation)/includes/$(arg laser_sensor)_hectorslam.launch.xml" >
    <!-- <arg name="base_frame" value="link_lidar"/> --> 
    <arg name="base_frame" value="base_footprint"/> 
    <arg name="odom_frame" value="odom"/>

    <!-- <arg name="pub_map_odom_transform" value="true"/> -->
    <arg name="pub_map_odom_transform" value="false"/>
    <arg name="pub_odometry" value="true"/>

    <arg name="laser_min_dist" value="0.15"/>
    <arg name="laser_max_dist" value="8.0"/>
    <arg name="scan_topic" value="scan"/>
  </include>


  <!-- move_base -->
  <include file="$(find hcr_navigation)/includes/move_base.launch.xml"/>

</launch>
